.footer {
	background-color: var(--black);
	color: var(--white);
}

.footer__content {
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.footer__content {
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex-direction: column;
		padding-bottom: 100px;
	}
}
